<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="src/styles.css">
</head>
<body>
  <div class="container">
    {{> "./src/templates/modal.hbs"}}
    {{> "./src/templates/geo-content.hbs"}}
    {{> "./src/templates/logo.hbs"}}
  </div>
</body>
</html>
