<div id="modal">

  <div class="header">
    <img class="icon" src="./src/img/map-marker.svg" alt="">
    <span>Невский пр., 78, Санкт-Петербург, 191025</span>
    <img class="icon2" src="./src/img/close.svg" alt="">
  </div>

  <div class="response-list">
    <div class="response-item"><span>Lana</span> Шоколадница 05.02.2019 Очень хорошее место!</div>
    <div class="response-item"><span>Сергей Мелюков</span> Красный куб 12.12.2018 Ужасное место! Кругом зомби!!!</div>
  </div>

  <hr class="line">
  <form action="" id="responseForm" class="response-form">
    <label>Ваш отзыв</label>
    
    <div class="form-group">
    <input type="text" id="inputName" placeholder="Ваше имя"><br>
    <input type="text" id="inputPlace" placeholder="Укажите место"><br>
    <textarea id="responseText" type="text" class="form-control" placeholder="Поделитесь впечатлениями" cols="35" rows="4"></textarea><br>
    <button type="submit" value="Добавить">Добавить</button>
    </div>

  </form>
</div>