body {
  font-family: 'Fira Sans', sans-serif;
}

#map {
  position: relative;
}

#modal {
  width: 378px;
  height: 528px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}
.header, button {
  background-color: #EF8B6B;
  color: #fff;
}
.header {
  line-height: 2; 
  padding: 14px;
  border-radius: 8px;
}

.header span {
  color: #fff;
  font-size: 13px;
  padding-left: 5px;
}

.icon2 {
  text-align: right;
  position: absolute;
  right: 22px;
  top: 25px;
}

.response-item {
  margin-bottom:12px;
  font-size: 15px;
  line-height: 1.5;
  color: #B3B3B3;
}

.response-item span {
  font-weight: 600;
  color: #505050;
}

.response-list {
  padding: 26px 37px 14px;
}

.response-form {
  padding: 14px 23px;
}

.line {
  margin: 0 23px;
}

.response-form {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  color: #EF8B6B;
  font-size: 16px;
  letter-spacing: .05em;
  margin-bottom: 14px;
  margin-left: 16px
}

input, .line {
  color: #B3B3B3;
}

input, textarea {
  width: 90%;
  border-radius: 20px;
  cursor: text;
  border: 1px solid #B3B3B3;
  margin-bottom: 14px;
  padding: 8px 14px;
  color: #B3B3B3;
  font-size: 15px;
}

textarea {
  margin-bottom: 0;
}

input::placeholder, textarea::placeholder {
  color: #B3B3B3;
}

button {
  font-size: 14px;
  letter-spacing: .05em;
  padding: 10px 22px;
  margin: 8px 0;
  border-radius: 14px;
  border: 0;
  align-self: flex-end;
  /* text-align: right; */
  margin-left: auto;
}